/wp-content/themes/hangout/.sass-cache
/wp-content/themes/hangout/.idea
/.idea
/.DS_Store
/wp-content/themes/.DS_Store
/wp-content/themes/hangout/.DS_Store
/wp-content/themes/hangout/*.html
/wp-content/themes/hangout/images/.DS_Store
/wp-config-local.php
/wp-config-sample.php
/.htaccess
/wp-content/debug.log